.animate-bell {
	animation: bell-ring 1.2s infinite;
}

@keyframes bell-ring {
	0% { transform: rotate(0deg); }
	15% { transform: rotate(15deg); }
	30% { transform: rotate(-10deg); }
	45% { transform: rotate(8deg); }
	60% { transform: rotate(-6deg); }
	75% { transform: rotate(4deg); }
	100% { transform: rotate(0deg); }
}

